<li>
	<div class="styles">
		<div class="style">
			<a href="{{ include.product.url }}">
				<img src="{{ include.product.image }}">
			</a>
		</div>
	</div>
	<div class="product-details">
		{% if include.catlink == true and include.product.categories and include.product.categories != '' %}
			{% assign parts = include.product.title | split: "#" %}
			<h4>
				<a class="no-underline" href="{{ include.product.url }}">{{parts[0]}}</a>
				<a class="white pv0 ph3 no-underline hover-bg-black br3 fw6 {{include.product.categories}}" href="/{{include.product.categories}}/">#{{include.product.categories}}</a>
			</h4>
		{% else %}
			<h4><a href="{{ include.product.url }}">{{include.product.title}}</a></h4>
		{% endif %}

	</div>
</li>
