$default-hero-image: '/images/hero/header.svg';

$brand-color: #111111;
$PS4Deals: #003791;
$GoldBox: #ff9900;
$amazonreviews: rgb(61, 207, 82);
$shutupandtakemymoney: #a463f2;
$wtfamazon: #e68364;
$NintendoSwitch: #e60012;

// Breakpoints
$tablet: '(min-width: 450px)';
$above-tablet: '(min-width: 550px)';
$mid-point: '(min-width: 850px)';
$below-mid-point: '(max-width: 849px)';
$desktop: '(min-width: 768px)';
