---
layout: default
---
<div class="content">
	<div class="pv3 pv5-ns">
		<div class="container">
			<div class="product-container">
				<div class="styles">
					<div class="style">
						<a href="{{ page.url }}">
							<img src="{{ page.image }}">
						</a>
					</div>
				</div>
				<div class="product-details" id="add">
					<strike>{{page.list_price}}</strike>
					<h3 class="ma0 pa0">{{ page.deal_price }}</h3>
					<a href="{{page.buy_now}}" class="f6 link dim no-underline br2 ba bw1 ph3 pv2 mb2 dib dark-green">Buy Now on Amazon</a>
					<h3>{{ page.name }}</h3>
					<div>{{ page.description_markdown | markdownify }}</div>
					<div id="twittercontainer"></div>
				</div>

			</div>
		</div>
	</section>
</div>


<script>
window.twttr = (function(d, s, id) {
  var js,
    fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = 'https://platform.twitter.com/widgets.js';
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
})(document, 'script', 'twitter-wjs');
{% if page.tweet_id_str %}
twttr.ready(function() {
  twttr.widgets.createTweet(
    '{{page.tweet_id_str}}',
    document.getElementById('twittercontainer')
  );
});
{% endif %}
</script>
